.dividers-block {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dividers-block__label {
  margin-bottom: 24px;
  color: #888888;
}

.dividers-block__indicators-panel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  width: 16vw;
  height: 102px;
  align-content: space-between;
}

.dividers-block__indicator {
  margin-right: 1.2vw;
}
