.result-block {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-block__dividers-block {
  align-self: flex-start;
}

.result-block__grid-preview {
  flex-shrink: 2;
  flex-grow: 2;
}

@media only screen and (max-height: 500px) {
  .result-block__grid-preview {
    height: 100px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
