@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap&subset=cyrillic");

.container {
  width: 1194px;
  margin: 0 auto;
}

h1,
p,
label,
span {
  font-family: "Roboto", sans-serif;
}

.divider {
  width: 100%;
}

.divider_main {
  background-color: #b7b7b7;
  height: 1px;
}

.divider_bottom {
  background-color: #4f4f4f;
  height: 2px;
  margin-bottom: 119px;
}

/* ---- HEADER ---- */

.h1 {
  font-size: 36px;
}

.header__h1 {
  margin-top: 45px;
}

/* ---- FORM ---- */

.form {
  margin-top: 70px;
  margin-bottom: 66px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.row__grid-config {
  display: flex;
  justify-content: space-between;
  width: 862px;
}

.grid-config__form-field {
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-field__desc-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.desc-row__optional-label {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #949494;
}

.form-field__field {
  width: 195px;
  height: 48px;
  background: #f7f7f7;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 12px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #b1b1b1;
}

/*.max-gutter-field {
  display: none;  if display change .row__grid-config {width: 862px;} / for display: none — 640px
} */

.form__calculate-button {
  width: 177px;
  height: 48px;
  background: #279bb5;
  border: none;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s ease-in;
  outline: none;
}

.form__calculate-button:hover {
  background: #0b90ad;
}

.form__calculate-button:active {
  background: #5ea9ba;
}

.row__checkbox-divided-by {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 84px;
}

.checkbox-divided-by__label {
  font-size: 24px;
}

.checkbox-divided-by__checkbox {
  margin-left: 12px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* ---- RESULT SECTION ---- */

.result-section__result-domain {
  margin: 83px 0 88px;
  height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dividedBy-row__indicator {
  width: 84px;
  display: flex;
  justify-content: flex-end;
}

.grid-config-result {
  display: flex;
}

.result-row__result {
  width: 306px;
}

.result__value {
  font-size: 24px;
}

.dividedBy-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.indicator__parameter {
  font-size: 24px;
  margin-right: 17px;
}

.indicator__value {
  height: 24px;
  width: 30px;
}

.indicator__value_on {
  background: url(../images/Checkmark.svg);
  background-repeat: no-repeat;
}

.indicator__value_off {
  background: url(../images/Cross.svg);
  background-repeat: no-repeat;
}

.grid-example-section {
  display: none;
}

.grid-example-section__grid-example {
  margin: 88px 0 99px 0;
  width: 100%;
  height: 315px;
  background-color: #92A7B4;
}

