.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  margin: 0 auto;
}

.app__form {
  max-width: 500px;
  width: 40vw;
  margin: 0;
}

.app__form-section {
  display: flex;
  align-items: center;
}

.app__divider {
  width: 1px;
  height: 80vh;
  background: #ebebeb;
  margin: 0 4vw;
}

.app__result-block {
  max-width: 1000px;
  flex-grow: 2;
  height: 76vh;
}
